
.access-page{
  color: black;
  text-align: center;
}
form input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  height: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}
form button{
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
}
form h1{
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.login-using-password{
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 35px;
  background-color: rgb(214, 201, 168);;
}
.login-using-google{
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 35px;
 
}

.form-container{
  text-align: center;
  position: relative;
  margin-top: 50px;                 
  margin-left: 900px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(244, 234, 207);
  border-radius: 15px;
  width: 300px;
  height: 400px;

}

body{
    background-image: url("./images/backgroundimage.jpg");
    height: 97vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
