
.access-page{
  color: black;
  text-align: center;
}
form input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  height: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.form-container{
  text-align: right;
  position: relative;
  padding-top: 100px;                 
  margin-left: 900px;
}
form h1{
  padding-right: 100px;
}
form button{
  margin-right:100px;
  border-radius: 10px;
  width: 100px;
}
body{
    background-image: url("./images/backgroundimage.jpg");
    height: 97vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
